In [3]:
import pymongo
import pandas as pd
import json

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\shesh\desktop\lib\site-packages (4.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\shesh\desktop\lib\site-packages (from pymongo) (2.3.0)

In [18]:
client = pymongo.MongoClient("mongodb+srv://raghugaikwad8641:Raghugaikwad8@cluster0.awyei4w.mongodb.net/test")

In [19]:
df = pd.read_csv("cardio.csv")

In [20]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [21]:
df.tail()

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [22]:
df.shape

(180, 9)

In [23]:
data = df.to_dict(orient = "records")

In [24]:
data

[{'Product': 'TM195',
  'Age': 18,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 29562,
  'Miles': 112},
 {'Product': 'TM195',
  'Age': 19,
  'Gender': 'Male',
  'Education': 15,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 31836,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 19,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 30699,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 19,
  'Gender': 'Male',
  'Education': 12,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 32973,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 20,
  'Gender': 'Male',
  'Education': 13,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 2,
  'Income': 35247,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 20,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 32973,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 21,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 35247,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 21,
  'Gender': 'Male',
  'Education': 13,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 32973,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 21,
  'Gender': 'Male',
  'Education': 15,
  'MaritalStatus': 'Single',
  'Usage': 5,
  'Fitness': 4,
  'Income': 35247,
  'Miles': 141},
 {'Product': 'TM195',
  'Age': 21,
  'Gender': 'Female',
  'Education': 15,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 37521,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 22,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 36384,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 22,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 2,
  'Income': 35247,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 22,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 36384,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 22,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 35247,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 1,
  'Income': 38658,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 40932,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 34110,
  'Miles': 103},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 39795,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 38658,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Female',
  'Education': 15,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 34110,
  'Miles': 38},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 38658,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 40932,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 24,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 42069,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 24,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 5,
  'Fitness': 5,
  'Income': 44343,
  'Miles': 188},
 {'Product': 'TM195',
  'Age': 24,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 24,
  'Gender': 'Male',
  'Education': 13,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 2,
  'Income': 42069,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 24,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 46617,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 48891,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 53439,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 39795,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 40932,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 40932,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 25,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 43206,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 4,
  'Income': 44343,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 53439,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 51165,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 36384,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 4,
  'Income': 44343,
  'Miles': 132},
 {'Product': 'TM195',
  'Age': 26,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 50028,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 27,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 2,
  'Income': 45480,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 27,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 27,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 46617,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 103},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 28,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 51165,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 29,
  'Gender': 'Male',
  'Education': 18,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 68220,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 29,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 46617,
  'Miles': 38},
 {'Product': 'TM195',
  'Age': 29,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 50028,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 30,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 4,
  'Income': 46617,
  'Miles': 141},
 {'Product': 'TM195',
  'Age': 30,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 31,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 54576,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 31,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 2,
  'Income': 45480,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 32,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 46617,
  'Miles': 113},
 {'Product': 'TM195',
  'Age': 32,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 33,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 2,
  'Income': 55713,
  'Miles': 38},
 {'Product': 'TM195',
  'Age': 33,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 46617,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 34,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 5,
  'Income': 51165,
  'Miles': 169},
 {'Product': 'TM195',
  'Age': 34,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 2,
  'Income': 52302,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 35,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 48891,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 35,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 60261,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 35,
  'Gender': 'Female',
  'Education': 18,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 67083,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 36,
  'Gender': 'Male',
  'Education': 12,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 44343,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 37,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 37521,
  'Miles': 85},
 {'Product': 'TM195',
  'Age': 38,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 46617,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 38,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 38,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 56},
 {'Product': 'TM195',
  'Age': 38,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 56850,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 39,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 4,
  'Income': 59124,
  'Miles': 132},
 {'Product': 'TM195',
  'Age': 40,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 61398,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 41,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 54576,
  'Miles': 103},
 {'Product': 'TM195',
  'Age': 43,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 53439,
  'Miles': 66},
 {'Product': 'TM195',
  'Age': 44,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 57987,
  'Miles': 75},
 {'Product': 'TM195',
  'Age': 46,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 2,
  'Income': 60261,
  'Miles': 47},
 {'Product': 'TM195',
  'Age': 47,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 56850,
  'Miles': 94},
 {'Product': 'TM195',
  'Age': 50,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 64809,
  'Miles': 66},
 {'Product': 'TM498',
  'Age': 19,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 31836,
  'Miles': 64},
 {'Product': 'TM498',
  'Age': 20,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 32973,
  'Miles': 53},
 {'Product': 'TM498',
  'Age': 20,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 34110,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 20,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 38658,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 21,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 5,
  'Fitness': 4,
  'Income': 34110,
  'Miles': 212},
 {'Product': 'TM498',
  'Age': 21,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 34110,
  'Miles': 42},
 {'Product': 'TM498',
  'Age': 21,
  'Gender': 'Male',
  'Education': 12,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 32973,
  'Miles': 53},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 36384,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 38658,
  'Miles': 85},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 127},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 2,
  'Income': 43206,
  'Miles': 74},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 2,
  'Income': 40932,
  'Miles': 53},
 {'Product': 'TM498',
  'Age': 23,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 64},
 {'Product': 'TM498',
  'Age': 24,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 2,
  'Income': 40932,
  'Miles': 85},
 {'Product': 'TM498',
  'Age': 24,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 48891,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 24,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 50028,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 85},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 4,
  'Income': 43206,
  'Miles': 127},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 2,
  'Income': 52302,
  'Miles': 42},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 5,
  'Fitness': 3,
  'Income': 47754,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 3,
  'Income': 43206,
  'Miles': 64},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 170},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 4,
  'Income': 43206,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 50028,
  'Miles': 53},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 2,
  'Fitness': 2,
  'Income': 45480,
  'Miles': 42},
 {'Product': 'TM498',
  'Age': 25,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 48891,
  'Miles': 127},
 {'Product': 'TM498',
  'Age': 26,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 4,
  'Fitness': 3,
  'Income': 45480,
  'Miles': 85},
 {'Product': 'TM498',
  'Age': 26,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 4,
  'Income': 50028,
  'Miles': 127},
 {'Product': 'TM498',
  'Age': 26,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 51165,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 27,
  'Gender': 'Male',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 2,
  'Income': 45480,
  'Miles': 53},
 {'Product': 'TM498',
  'Age': 29,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 51165,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 30,
  'Gender': 'Female',
  'Education': 14,
  'MaritalStatus': 'Single',
  'Usage': 3,
  'Fitness': 3,
  'Income': 57987,
  'Miles': 74},
 {'Product': 'TM498',
  'Age': 30,
  'Gender': 'Female',
  'Education': 13,
  'MaritalStatus': 'Single',
  'Usage': 4,
  'Fitness': 3,
  'Income': 46617,
  'Miles': 106},
 {'Product': 'TM498',
  'Age': 31,
  'Gender': 'Male',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 3,
  'Fitness': 3,
  'Income': 52302,
  'Miles': 95},
 {'Product': 'TM498',
  'Age': 31,
  'Gender': 'Female',
  'Education': 16,
  'MaritalStatus': 'Partnered',
  'Usage': 2,
  'Fitness': 3,
  'Income': 51165,

In [25]:
db = client["cardio"]

In [26]:
print(db)

Database(MongoClient(host=['ac-plgx1bd-shard-00-01.awyei4w.mongodb.net:27017', 'ac-plgx1bd-shard-00-02.awyei4w.mongodb.net:27017', 'ac-plgx1bd-shard-00-00.awyei4w.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-edn3oz-shard-0', tls=True), 'cardio')

In [27]:
db.cardiosales_report.insert_many(data)